.centered-text {
	text-align:center;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    padding-left: 5em;
}

.axis text {
    font-family: sans-serif;
    font-size: 20px;
}

.axis {
	padding-left: 100px;
}

/*.hidden {
	visibility: hidden;
}*/